<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ПКО</title>
    <link rel="icon" type="image/x-icon" href="<%= image_path('favicon.ico') %>" />
    <style>
    @font-face {
      font-family: DroidSerif;
      src: url(<%= asset_url 'droidserif-regular.woff' %>);
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: DroidSerif;
      src: url(<%= asset_url 'droidserif-bold.woff' %>);
      font-weight: bold;
      font-style: normal;
    }
    @font-face {
      font-family: DroidSerif;
      src: url(<%= asset_url 'droidserif-italic.woff' %>);
      font-weight: normal;
      font-style: italic;
    }
    @font-face {
      font-family: DroidSerif;
      src: url(<%= asset_url 'droidserif-bolditalic.woff' %>);
      font-weight: bold;
      font-style: italic;
    }

    body {
      font-family: DroidSerif;
      font-size: 9px;
      margin: 0;
      padding: 0;
    }
    .container {
      width: 19cm;
      height: 12.8cm;
      padding: 1px;
      position: relative;
      overflow: hidden;
    }
    #under_line {
      font-size: 8px;
      font-style: italic;
    }
    #underscore {
      border-bottom: thin solid #000000;
    }
    #all_borders {
      border: thin solid #000000;
    }
    #cap_border{
      border-left: thin solid #000000;
      border-top: thin solid #000000;
      border-right: thin solid #000000;
    }
    #side_border{
      border-left: thin solid #000000;
      border-right: thin solid #000000;
    }
    table {
      border-spacing: 0;
      border-collapse: collapse;
      margin: 0 auto;
    }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
